[mysql]
max_allowed_packet=1073741824

[mysqld]
read-only=1 # 除非有SUPER权限，否则只读
#super-read-only=1 # SUPER权限也是只读
max_allowed_packet=1073741824
default-time_zone='+8:00'
sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'